{% extends 'index.html' %}
{% load static %}
{% block body %}
<title>{% block title %}Technology List{% endblock %}</title>
<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Technology /</span> Technology List</h4>


              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Technology Master</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Sn No.</th>
                        <th>Tech Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    {% for tm in tech_mas %}
                    <tbody class="table-border-bottom-0">
                      <tr>
                        <td><strong>{{forloop.counter}}.</strong></td>
                        <td><strong>{{tm.name}}</strong></td>
                        <td><strong>{{tm.desc}}</strong></td>
                        {% if tm.active_status == True %}
                        <td><span class="badge bg-label-primary me-1">Active</span></td>
                        {% else %}
                        <td><span class="badge bg-label-danger me-1">Inactive</span></td>
                        {% endif %}
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/edit_tech/{{tm.tech_id}}/">Edit</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
{% endblock %}
